// = = = = = VARIABLES = = = = =

// Font sizes etc.
$main-font: 'Roboto', 'sans-serif';
$fsize-n: 2rem;
$fsize-b: 4rem;

// Colors
$main-color: rgb(205, 100, 100);
$additional-color: rgb(244, 219, 219);
$font-color: #5a2121;

// Mixins, Functions

// = = = = = COMPONENTS = = = = =

.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1400px;

	@media (min-width: 768px) {
		padding: 0 2em;
	}
}

.disabled {
	display: none;
}
